# Node.js
node_modules
npm-debug.log*
node_modules
client/node_modules
build/
*.env

# Logs
logs
*.log

# Environment variables
.env

# Build output
build

# Dependency directories
client/node_modules
server/node_modules
